// Mixins Here
.button {
    border: solid @btn-bg-color;
    border-radius: 8px;
    text-align: center;
    padding: 2%;
    width: 100px;
}



.anchor {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}


.para-btn(@background, @color) {
    background-color: @background;
    color: @color;
}